$colors: ();
$colors: map-merge(
    (
        "primary": #58c5c9,
        "secondary": #391416,
        "accent": #ec2027,
        "white": #fff,
        "dark": #ddd,
        "light": #f8f8f8,
        "black": #000,
    ),
    $colors
);

$theme-colors: ();
@each $color, $value in $colors {
    $theme-colors: map-merge(
        (
            $color: $value,
        ),
        $theme-colors
    );
}

@each $color, $value in $colors {
    .has-background-dim.wp-block-cover.has-#{$color}-background-color {
        background-color: $value;
    }
}
