.wp-block-button.is-style-outline {
    .wp-block-button__link {
        border-width: 1.25px;
        &.has-white-color:hover {
            background-color: theme-color("light");
            color: theme-color("primary");
        }
        &.has-secondary-color:hover {
            background-color: theme-color("secondary");
            color: theme-color("light");
        }
        &.has-accent-color:hover {
            background-color: theme-color("accent");
            color: #fff;
        }
    }
}

.wp-block-button__link.has-accent-background-color {
    &:hover {
        color: #fff;
    }
}

.wp-block-lg-blocks-swiper {
    img {
        max-height: 450px;
    }
}

.wp-block-lg-blocks-testimonials {
    .slick-slider {
        .slick-dots {
            .slick-active {
                button::before {
                    color: theme-color("secondary");
                }
            }
            button::before {
                color: #fff;
            }
        }
    }
}

.font-weight-semi {
    font-weight: 600 !important;
}

img {
    height: auto;
}

.wp-block-image {
    img {
        border-radius: 20px;
        box-shadow: 0px 5px 15px #0000001a;
    }
}

.wp-block-image.svg {
    img {
        border-radius: unset;
        box-shadow: unset;
    }
}

.wp-block-group.choose-us {
    @include media-breakpoint-down(sm) {
        padding-left: 0px;
        padding-right: 0px;
    }
}
