.widget {
    .widget-title {
        border: unset;
        background-color: unset;
        color: theme-color("secondary");
        font-family: "Lato", sans-serif;
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: 0;
    }
    ul {
        list-style-type: none;
        padding-left: 0.75rem;
        li {
            padding-bottom: 0.25rem;
            a {
                color: theme-color("secondary");
                &:hover {
                    color: theme-color("primary");
                }
            }
        }
    }
    .textwidget {
        padding-left: 0.75rem;
        a {
            color: theme-color("primary");
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.lg-social-media-cont {
    .lg-social-media {
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;

        li:not(:last-child) {
            padding-right: 15px;
        }
        li {
            a {
                color: theme-color("secondary");
            }
        }
        @include media-breakpoint-down(sm) {
            justify-content: center;
        }
    }
}

.site-footer-alpha {
    .textwidget {
        padding-left: 0;
    }
}

.site-footer-bravo {
    width: 100%;
    max-width: 200px;
    @include media-breakpoint-down(sm) {
        max-width: 100%;
    }
}
