.home {
    #site-header {
        .header-main {
            .main-navigation {
                .navbar {
                    #main-navbar {
                        a {
                            color: theme-color("secondary");
                        }
                    }
                }
            }
        }
    }
}
#site-header {
    .header-main {
        .main-navigation {
            .navbar {
                background-color: #fff;
                .navbar-brand {
                    margin-left: 10px;
                    img {
                        max-width: 200px;
                    }
                }
                @include media-breakpoint-down(sm) {
                    .navbar-brand {
                        //min-width: 100%;
                        flex: 1 1 70%;
                    }
                    .navbar-toggler {
                        flex: 1 1 25%;
                    }
                    > .wp-block-button {
                        //flex: 1 1 100%;
                        display: none !important;
                    }
                }
                #main-navbar {
                    justify-content: flex-end;
                    a {
                        text-transform: capitalize;
                        color: theme-color("secondary");
                        &:hover {
                            color: theme-color("primary");
                            background-color: transparent;
                        }
                    }
                    a.dropdown-item {
                        color: #fff;
                        &:hover,
                        &:active,
                        &:focus {
                            background-color: #fff;
                            color: theme-color("primary");
                        }
                    }
                }
                .wp-block-button {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

#site-header {
    .header-main {
        .main-navigation {
            .navbar {
                .navbar-collapse {
                    @include media-breakpoint-down(sm) {
                        top: 155px !important;
                    }
                    @include media-breakpoint-down(md) {
                        top: 115px;
                        background-color: theme-color("secondary");
                        a {
                            color: #fff !important;
                        }
                    }
                }
            }
        }
    }
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background-color: theme-color("secondary") !important;
    margin: 2px 0px;
}
