.card {
    box-shadow: 0px 5px 15px #0000001a;
    border-radius: 20px;
    img {
        border-radius: 20px 20px 0 0;
    }
}

.lg-service-template-default {
    .wp-block-image {
        img {
            border-radius: 20px;

            box-shadow: 0px 5px 15px #0000001a;
        }
    }
}
